// Estilos para la sección de héroe
.hero {
    background-image: url('../../assets/multimedia/hero-background.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;

    h1 {
        font-size: 3.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5em;
        margin-bottom: 40px;
    }

    .btn {
        background-color: $primary-color;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}