.navbar {
    background-color: $color-primario;
    color: white;
    padding: $espaciado;
    
    .nav-item {
        margin-left: $espaciado;
        list-style-type: none;
    }

    .nav-link {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        transition: color 0.3s ease;

        &:hover {
            color: $color-secundario;
        }
    }
}