// Importar variables y mixins
@import '_variables';
@import '_mixins';

// Componentes
@import '_navigation';
@import '_cards';
@import '_hero'; 

// Estilos globales
body {
  font-family: $base-font-family;
  color: $secondary-color;
  background-color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.nav-link {
  color: $text-color;
  transition: color 0.3s;

  &:hover {
    color: $primary-color;
  }
}

.page-nuevo-local .nav-link {
  color: $text-color;
}

header {
  @include fade-in(1s, ease-in);
}

.container {
  background-color: $secondary-color;
  color: $text-color;
  padding: $base-spacing-unit * 2;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.carousel-item img {
  max-height: 300px;
  object-fit: cover;
}

footer {
  background-color: $secondary-color;
  padding: $base-spacing-unit;
  color: $text-color;
  text-align: center;
}